@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}


    <head>
        <link rel="stylesheet" type="text/css" url('../../Content/themes/StyleSheet1.css');>
    </head>

    <body>

    <style>
        .ng-binding{margin: 50px;}
    </style>

    <h2>Index</h2>


    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))

    {
        <p>
            @*Genre: @Html.DropDownList("movieGenre", "All")*@
            Title: @Html.TextBox("SearchString")
            <input type="submit" value="Filter" />
        </p>
    }

        <table class="table">
            <tr>
                <th>
                    Title:
                </th>
                <th>
                    Release Date:
                </th>
                <th>
                    Genre:
                </th>
                <th>
                    Price:
                </th>
                <th>
                    Ratting:
                </th>
                <th></th>
            </tr>
            </div>
            </div>
        </table>

<div class="main" ng-controller="moviecontroller">
    <div ng-repeat="Movie in movieList">

            <tr>
                <td>
                   {{Movie.Title}}
                </td>
                <td>
                    {{Movie.ReleaseDate}}
                </td>
                <td>
                    {{Movie.Genre}}
                </td>
                <td>
                    {{Movie.Price}}
                </td>
                <td>
                   {{Movie.Rating}}
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
                    <td></td>
                </tr>
         
    </div>
    </div>
</body>


